<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Einkaufsliste 🍕🧀🥕🍅🍆</h1>
    </header>
    
    <!-- Liste der Einträge -->
    {% for row in all_items %}
    <div class="list-item">
        <!-- Benutzerdefinierte Checkbox -->
        <input type="checkbox" id="checkbox{{ row.id }}" class="custom-checkbox" 
               {% if row.done %}checked{% endif %} 
               onclick="toggleCheckbox('{{ row.id }}')">
        <label for="checkbox{{ row.id }}" class="checkbox-label">{{ row.name }}</label>
        
        <!-- Löschen-Button -->
        <button class="delete-button" onclick="deleteItem('{{ row.id }}')">Löschen</button>
    </div>
    {% endfor %}
    
    <!-- Hinzufügen-Button -->
    <button class="fab-button" onclick="openModal()">+</button>

    <!-- Modal zum Hinzufügen von Elementen -->
    <div id="itemModal" class="modal">
        <div class="modal-content">
            <h2>Neues Element hinzufügen</h2>
            <input type="hidden" id="csrfTokenInput" value="{{ csrf_token }}"> <!-- CSRF-Token -->
            <input type="text" id="itemNameInput" placeholder="Elementname">
            <div style="margin-top: 20px;">
                <button onclick="addItem()">Hinzufügen</button>
                <button onclick="closeModal()">Abbrechen</button>
            </div>
        </div>
    </div>

    <!-- Bestätigungs-Popup für Löschen -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h3>Wirklich löschen?</h3>
            <button id="confirmDelete" class="confirm-button">Ja, löschen</button>
            <button onclick="closeConfirmModal()" class="cancel-button">Abbrechen</button>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>